.btn {
  width: 250px;
  height: 250px;
  text-align: center;
  align-content: center;
  background: #FA980B;
  margin-top: 350px;
  margin-left: 800px;
  padding-top: 70px;
  border-radius: 2%;

}

.txt {
  color: whitesmoke;
}


